@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
  --background: rgb(23, 27, 31);
  --backgroundForm: rgb(30, 33, 38);
  --lightTxt: white;
  --btns: gray;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  gap: 30px;
  padding: 50px 0px;
}
form {
  border-radius: 15px;
  padding: 40px;qqq
  width: 432px;
  background-color: var(--backgroundForm);
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-self: center;
}
h1 {
  align-self: flex-start;
  color: var(--lightTxt);
}
input {
  height: 15%;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 10px;
  justify-self: center;
  background-color: rgb(70, 69, 69);
  color: white;
}
.submit {
  height: 20%;
  border-radius: 10px;
  border: none;
  font-size: 1.8rem;
  color: var(--lightTxt);
  background-color: rgb(147, 45, 182);
  cursor: pointer;
}
.submit:disabled {
  background-color: rgb(54, 54, 54);
  cursor: not-allowed;
}

.irListaCards {
  width: 200px;
  height: 50px;
  border: 0;
  font-size: 1.8rem;
  border-radius: 10px;
  background-color: rgb(0, 136, 221);
  color: var(--lightTxt);
  cursor: pointer;
}

@media (max-width: 475px) {
  form {
    width: 90%;
  }
}

span {
  background-color: greenyellow;
  padding: 0 10px 0 10px;
  border-radius: 100px;
  color: rgb(70, 69, 69);
}

hr{
  width: 80%;
}

#container {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.card {
  width: 270px;
  min-height: 448px;
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgroundForm);
  border-radius: 10px;
  flex-wrap: wrap;
}
.card p {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;  
}
.imgCard {
  width: 240px;
  height: 228px;
  border-radius: 5px;
}

